html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

html {
  background-color: $page;
}

div {
	box-sizing: border-box;
}

.image {
	img{
		width: 100%;
	}
}



ul {
  list-style: none;
}


.container {
  margin: 20px auto;
  max-width: 1600px;
}

.wrapper {
  padding-top: 20px;
}

.block-span {
  padding: 10px;
  background-color: rgba(0, 0, 0, .4);
}

.feature {
	text-align: center;
	padding: 20px;
	margin: 10px auto;
	max-width: 500px;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  .cell {
    display: inline-block;
    
  }
  .v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .qtr {
    flex: 1 0 25%;
    @include tablet {flex: 1 0 50%};
    @include phone {flex: 1 0 100%};
  }
  .third {
    flex: 1 0 33.33%;
    @include tablet {flex: 1 0 50%};
    @include phone {flex: 1 0 100%};
  }
  .two-thirds {
    flex: 1 0 66.66%;
    @include tablet {flex: 1 0 75%};
    @include phone {flex: 1 0 100%};
  }
  .half {
    flex: 1 0 50%;
    @include phone {flex: 1 0 100%};
  }
  .three-qtr {
    flex: 1 0 75%;
    @include phone {flex: 1 0 75%};
  }
  .full {
    flex: 1 0 100%;
    @include phone {flex: 1 0 100%};
  }
}
