.hero {
	background-image: url('/images/back.jpg');
	background-position: center;
	background-size: cover;
	.title {
		h1 {
			margin: 0;
		}
	}
}

ul {
	padding: 0;
	li {
		margin-bottom: 3px;
		p {
			width: 49%;
			display: inline-block;
			margin: 0;
			&:last-of-type {
				text-align: right;
			}
		}
	}
}

#footer {
	.cell {
		padding: 30px;
	}
}
