/**
 * Select parts of the burger
 */
/**
 * Burger animations
 */
/* Colors */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans);
/* line 6, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
a, p, span, label, li {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-align: left;
  color: #513B2E; }

/* line 13, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
.heading, h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  margin: 5px 0;
  text-align: left;
  color: #513B2E; }
  /* line 19, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
  .heading.thin, h1.thin, h2.thin, h3.thin, h4.thin {
    font-weight: 100; }

/* line 24, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
h1 {
  font-size: 2.2em; }

/* line 28, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
h2 {
  font-size: 1.5em; }

/* line 32, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
h3 {
  font-size: 1.2em; }

/* line 36, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
h4 {
  font-size: 1em; }

/* line 41, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
.subheading {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  margin: 5px;
  text-align: left; }
  /* line 47, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
  .subheading.large {
    font-size: 2em; }
  /* line 50, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
  .subheading.medium {
    font-size: 1.5em; }
  /* line 53, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
  .subheading.minor {
    font-size: 1.2em; }
  /* line 56, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_typography.scss */
  .subheading.bold {
    font-weight: bold; }

/* line 1, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
html, body {
  padding: 0;
  margin: 0;
  height: 100%; }

/* line 7, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
html {
  background-color: #E8E7E6; }

/* line 11, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
div {
  box-sizing: border-box; }

/* line 16, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
.image img {
  width: 100%; }

/* line 23, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
ul {
  list-style: none; }

/* line 28, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
.container {
  margin: 20px auto;
  max-width: 1600px; }

/* line 33, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
.wrapper {
  padding-top: 20px; }

/* line 37, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
.block-span {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4); }

/* line 42, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
.feature {
  text-align: center;
  padding: 20px;
  margin: 10px auto;
  max-width: 500px; }

/* line 49, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch; }
  /* line 54, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .cell {
    display: inline-block; }
  /* line 58, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .v-center {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  /* line 63, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .qtr {
    flex: 1 0 25%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      /* line 63, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .qtr {
        flex: 1 0 50%; } }
    @media (max-width: 767px) {
      /* line 63, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .qtr {
        flex: 1 0 100%; } }
  /* line 68, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .third {
    flex: 1 0 33.33%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      /* line 68, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .third {
        flex: 1 0 50%; } }
    @media (max-width: 767px) {
      /* line 68, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .third {
        flex: 1 0 100%; } }
  /* line 73, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .two-thirds {
    flex: 1 0 66.66%; }
    @media (min-width: 768px) and (max-width: 1023px) {
      /* line 73, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .two-thirds {
        flex: 1 0 75%; } }
    @media (max-width: 767px) {
      /* line 73, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .two-thirds {
        flex: 1 0 100%; } }
  /* line 78, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .half {
    flex: 1 0 50%; }
    @media (max-width: 767px) {
      /* line 78, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .half {
        flex: 1 0 100%; } }
  /* line 82, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .three-qtr {
    flex: 1 0 75%; }
    @media (max-width: 767px) {
      /* line 82, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .three-qtr {
        flex: 1 0 75%; } }
  /* line 86, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
  .grid .full {
    flex: 1 0 100%; }
    @media (max-width: 767px) {
      /* line 86, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_layout.scss */
      .grid .full {
        flex: 1 0 100%; } }

/* line 1, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
#navigation {
  background-color: rgba(255, 255, 255, 0.95);
  height: 50px;
  width: 100%;
  position: fixed;
  padding: 0 20px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  /* line 13, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
  #navigation #logo {
    display: inline-block;
    height: 50px;
    padding: 10px; }
    /* line 17, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
    #navigation #logo img {
      height: 100%; }
  /* line 22, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
  #navigation nav {
    display: inline-block;
    list-style: none; }
    @media (max-width: 767px) {
      /* line 22, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
      #navigation nav {
        display: none; } }
    /* line 26, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
    #navigation nav li {
      display: inline-block; }
      /* line 28, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
      #navigation nav li a {
        line-height: 50px;
        padding: 0 20px;
        color: #EF233C;
        display: block;
        text-decoration: none; }
        /* line 34, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
        #navigation nav li a:hover {
          background-color: #EF233C;
          color: white; }
  /* line 42, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
  #navigation #hamburger-helper {
    margin-top: 21px; }
    /* line 44, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
    #navigation #hamburger-helper #hamburger {
      cursor: pointer;
      position: relative;
      margin-top: 8px;
      margin-bottom: 8px; }
      /* line 38, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger, #navigation #hamburger-helper #hamburger:before, #navigation #hamburger-helper #hamburger:after {
        display: block;
        width: 25px;
        height: 3px;
        background-color: #222;
        -webkit-transition-property: background-color, -webkit-transform;
        -moz-transition-property: background-color, -moz-transform;
        -o-transition-property: background-color, -o-transform;
        transition-property: background-color, transform;
        -webkit-transition-duration: 0.3s;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        transition-duration: 0.3s; }
      /* line 58, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger:before, #navigation #hamburger-helper #hamburger:after {
        position: absolute;
        content: ""; }
      /* line 63, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger:before {
        top: -8px; }
      /* line 67, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger:after {
        top: 8px; }
      /* line 107, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger.active {
        background-color: transparent; }
      /* line 110, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger.active:before {
        -webkit-transform: translateY(8px) rotate(45deg);
        -moz-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
        -o-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg); }
      /* line 117, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_mixins.scss */
      #navigation #hamburger-helper #hamburger.active:after {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        -moz-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
        -o-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg); }
      @media (min-width: 1024px) {
        /* line 44, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
        #navigation #hamburger-helper #hamburger {
          display: none; } }
      @media (min-width: 768px) and (max-width: 1023px) {
        /* line 44, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_navigation.scss */
        #navigation #hamburger-helper #hamburger {
          display: none; } }

/* line 1, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
.hero {
  background-image: url("/images/back.jpg");
  background-position: center;
  background-size: cover; }
  /* line 5, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  .hero .title {
    background-color: rgba(158, 37, 0, 0.5); }
    /* line 7, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
    .hero .title .image {
      max-width: 300px;
      margin: auto;
      padding: 100px 0; }

/* line 15, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
#hills {
  background-image: url("/images/hills.png");
  background-position: center;
  background-size: cover;
  padding: 0; }
  /* line 20, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  #hills .inner {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 20px 0 0 0; }
    /* line 23, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
    #hills .inner #inventory {
      padding: 20px 0; }
      /* line 25, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
      #hills .inner #inventory h3 {
        text-align: left;
        line-height: 75px;
        margin: 0; }
        @media (max-width: 767px) {
          /* line 25, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
          #hills .inner #inventory h3 {
            display: none; } }
      @media (max-width: 767px) {
        /* line 34, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
        #hills .inner #inventory * {
          text-align: center; } }
    /* line 39, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
    #hills .inner .icon {
      max-width: 116px;
      margin: auto; }
    /* line 43, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
    #hills .inner h4 {
      text-align: center;
      margin-top: 20px; }
  /* line 48, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  #hills * {
    color: white; }

/* line 51, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
ul {
  padding: 0; }
  /* line 53, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  ul li {
    margin-bottom: 3px; }
    /* line 55, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
    ul li p {
      width: 49%;
      display: inline-block;
      margin: 0; }
      /* line 59, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
      ul li p:last-of-type {
        text-align: right; }

/* line 66, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
.grid {
  max-width: 1000px;
  margin: auto; }
  @media (max-width: 767px) {
    /* line 66, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
    .grid {
      padding: 20px; } }
  /* line 73, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  .grid .cell.pad {
    padding: 50px; }
    @media (max-width: 767px) {
      /* line 73, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
      .grid .cell.pad {
        padding: 5px; } }

/* line 82, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
#footer {
  background-color: #011F32; }
  /* line 84, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  #footer * {
    color: #E8E7E6; }
  /* line 85, /Users/forrest/Projects/static/sawandgarden/source/stylesheets/_style.scss */
  #footer .cell {
    padding: 30px; }
